/*    <!-- The Art Crive Archive styles -->  */
body{
  background-color: white;  
 }
.banner{
  position: relative;
  margin-bottom: 10px;
  background-image:url(../img/seamless_patterns_14.jpg);
  height: 150px;
 }
 .banner_overlay{
  position: absolute;
  background-image:url(../img/AC1_NEW.png);
}
.banner p{
  position: absolute;
  font-family: 'Arial-BoldItalicMT', 'Arial', sans-serif;
  font-style: italic;
 }
.the{
  top: 20px;
  left:30px;
  font-size: 20pt;
  color: white;
 }          
.art{
  top: 45px;
  left:60px;
  font-size: 72pt;
  color: black;
 }
.crime{
  top: 90px;
  left:15px;
  font-size: 72pt;
  color: white;
 }          
.archive{
  top: 113px;
  left: 320px;
  font-size: 20pt;
  color: black;
 }         
.user-access {
  float: right;
  margin: 10px;
  padding: 5px;
  background: #222;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: white;
 }
.signed-in{
  color: #ccc;
 }
a.sign-out{
  color:white
 }
a.sign-in{
  color:white
 }
div[class*="side-bar"]{
  margin: 10px;
  padding: 5px;
  min-height: 350px;
  border-style:solid; 
  border-width: 3px;
  border-radius:6px;
  border-color: #eee;
  }
.left-side-bar {
  margin-left: 20px;
 }
.right-side-bar {
  margin-right: 20px;
 }
.center-stage {
  padding: 10px;
  padding-top: 20px;
 }
.below-video{
  margin-top: 20px;
  padding: 10px;
 }
.description{
  min-height: 200px;
 }
.tags {
  min-height: 20px;
  background: #eee;
 }
.avatar {
  min-height: 50px;
 }
.comments{
  min-height: 200px;
  background: #eee;
 }
